


<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
</head>


<div class="home_header" style="padding: 15%">
  <div class="logo">
    <h1>logo</h1>
    </div>
    
    <h1 class="home_header_text">Ilie Besleu</h1>
    
    <div class="home_bar">
      <div class="">
        <a href="#" class="">Home</a>
        <a href="#" class="">ABOUT ME</a>
        <a href="#" class="">Portfolio</a>
        <a href="#" class="">CV</a>
        <a href="#" class="">Contact</a>
      </div>
    </div>
</div>
    <!--about-->
  
    <div class="about">
      <img src="../assets/712496.jpg" height="300px" width="200px" alt="Italian Trulli">
      <h2>ABOUT ME</h2>
      <p style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;">Extremely motivated to constantly develop my skills and grow
        professionally. I've proven myself to be an adaptable and responsible
        team member</p>

    </div>

  
    <div class="work">

      <div id="mySidenav" class="sidenav">
        <a href="#" id="about">About</a>
        <a href="#" id="blog">Blog</a>
        <a href="#" id="projects">Projects</a>
        <a href="#" id="contact">Contact</a>
      </div>

      <div style="margin-left:80px;">
        <h1>WORK EXPERIENCE</h1> 
        <img src="../assets/712496.jpg" height="300px" width="200px" alt="Italian Trulli">
      </div>

   

    </div>




    

    <div class="skill">
      <div class="skill-ui">
        <div class="skill-ui-sticky">
            <div class="skill-ui-gradient skill-ui-gradient-top"></div>
            <div class="skill-ui-gradient skill-ui-gradient-bottom"></div>
        </div>
        <div class="skill-ui-titles">
          <div class="skill-ui-titles-overflow">
            <h2 class="h2-title h2-title-overflow">QA</h2>
           
          </div>
     
        </div>
         
      </div>
        
        <div class="skill-info">
            <div class="skill-info-sticky">
              <div class="skill-info-text"><h1 class="  h2-title-overflow">Tekwill</h1>Experience Game Testing in Web Game
                Find the issues and bugs of the game</div>
             
            </div>
          </div>
       
          <div class="Qa_photo"> 
            <div class="columnQa">
            <img src="../assets/712496.jpg" style="width: 100%">
            
            
           
      
            </div>  
          
            </div>
          
       
  
        
      
    </div>  

  <div class="skill">
    <div class="skill-ui">
      <div class="skill-ui-sticky">
          <div class="skill-ui-gradient skill-ui-gradient-top"></div>
          <div class="skill-ui-gradient skill-ui-gradient-bottom"></div>
      </div>
      <div class="skill-ui-titles">
        <div class="skill-ui-titles-overflow">
          <h2 class="h2-title h2-title-overflow">Photography</h2>
          
         
        </div>
   
      </div>
       
    </div>
      
      <div class="skill-info">
          <div class="skill-info-sticky">
            <div class="skill-info-text">
              <h1 class="  h2-title-overflow">Freelance</h1>
              Master in creation of the logo
              Skilled in vector images 
              Experienced in web design</div>
            <h5 class="h5-title">#Adobe photoshop</h5>
            <h5 class="h5-title">#adobe Illustrator</h5>
            <h5 class="h5-title">#CorelDRAW</h5>
          </div>
        </div>
     
        <div class="D_photo"> 
          <div class="column1">
          <img src="../assets/712496.jpg" style="width: 100%">
          <img src="../assets/712496.jpg" style="width:100%">
          <img src="../assets/712496.jpg" style="width:100%">
          <img src="../assets/712496.jpg" style="width:100%">
          
          </div>
          <div class="column2">
          <img src="../assets/712496.jpg" style="width:100%">
          <img src="../assets/712496.jpg" style="width:100%">
          <img src="../assets/712496.jpg" style="width:100%">
          <img src="../assets/712496.jpg" style="width:100%">
      
          </div>  
        
          </div>
        
     

      
    
  </div>  



  <div class="skill">
    <div class="skill-ui">
      <div class="skill-ui-sticky">
          <div class="skill-ui-gradient skill-ui-gradient-top"></div>
          <div class="skill-ui-gradient skill-ui-gradient-bottom"></div>
      </div>
      <div class="skill-ui-titles">
        <div class="skill-ui-titles-overflow">
          <h2 class="h2-title h2-title-overflow">IT support </h2>
         
        </div>
   
      </div>
       
    </div>
      
      <div class="skill-info">
          <div class="skill-info-sticky">
            <div class="skill-info-text"><h1 class="  h2-title-overflow">Comoda  </h1></div>
           
          </div>
        </div>
     
        <div class="Qa_photo"> 
          <div class="columnQa">
          <img src="../assets/712496.jpg" style="width: 100%">
          
          
         
    
          </div>  
        
          </div>
        
     

      
    
  </div>  



    




