<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
</head>


<div class="home_header" style="padding: 15%">
  <div class="logo">
    <h1>logo</h1>
    </div>
    
    <h1 class="home_header_text">Ilie Besleu</h1>
    
    <div class="home_bar">
      <div class="">
        <a href="#" class="">Home</a>
        <a href="#" class="">ABOUT ME</a>
        <a href="#" class="">Portfolio</a>
        <a href="#" class="">CV</a>
        <a href="#" class="">Contact</a>
      </div>
    </div>
</div>
    <!--about-->
  
    <div class="about">
      <img src="../assets/712496.jpg" height="300px" width="200px" alt="Italian Trulli">
      <h2>ABOUT ME</h2>
      <p style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;">Extremely motivated to constantly develop my skills and grow
        professionally. I've proven myself to be an adaptable and responsible
        team member</p>

    </div>

  
    <div class="work">
      <h1>WORK EXPERIENCE</h1> 
    </div>

    <div class="qa">
      <div class="qa_text qa_pos">
        <h1 style="font-family: Audiowide, sans-serif;  font-size: 40px; ">QA</h1>
        <h2  style="font-family: Audiowide, sans-serif;  font-size: 25px; ">Tekwill</h2>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;">Experience Game Testing in Web Game<br>
          Find the issues and bugs of the game</p>
      </div>
    <div class="qa_img qa_pos"><img src="../assets/712496.jpg" height="300px" width="200px" alt="Italian Trulli" class="qa_img"></div>
    </div>



    
